name: Unified Dogfooding scans
on:
  schedule:
    # Run the workflow every day at 04:00 UTC
    - cron: '0 4 * * *'
  workflow_dispatch:

jobs:
  build:
    runs-on: github-ubuntu-latest-s
    name: Build
    permissions:
      id-token: write
      contents: write
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - uses: SonarSource/ci-github-actions/build-poetry@master # dogfood
        with:
          run-shadow-scans: true

      - name: Run IRIS Analysis
        uses: SonarSource/unified-dogfooding-actions/run-iris@v1
        with:
          primary_project_key: "SonarSource_sonar-dummy-python-oss"
          primary_platform: "SQC-EU"
          shadow1_project_key: "SonarSource_sonar-dummy-python-oss"
          shadow1_platform: "Next"
          shadow2_project_key: "SonarSource_sonar-dummy-python-oss"
          shadow2_platform: "SQC-US"
